.h5p-checklist {
  --icon-h5p-theme-checkbox-unchecked: "\e90b";
  --icon-h5p-theme-checkbox-checked: "\e90c";
  --icon-h5p-theme-handle: "\e90f";
  --icon-h5p-theme-plus: "\e919";
  --icon-fontawesome-xmark: "\f00d";

  background-color: var(--h5p-theme-ui-base, hsl(0, 0%, 100%));
  color: var(--h5p-theme-text-secondary, hsl(219, 23%, 27%));
}
