.h5p-checklist {
  --icon-fontawesome-checkbox-checked: "\f046";
  --icon-fontawesome-font: "\f031";
  --icon-fontawesome-ellipsis-vertical: "\f142";
  --icon-fontawesome-plus: "\f067";
  --icon-fontawesome-xmark: "\f00d";
  --icon-unicode-hair-space: "\200a";
  --icon-handle: var(--icon-fontawesome-ellipsis-vertical) var(--icon-unicode-hair-space) var(--icon-unicode-hair-space) var(--icon-fontawesome-ellipsis-vertical);

  --h5p-checklist-theme-font-size-xl: 1.5rem;
  --h5p-checklist-theme-font-size-l: 1.25rem;
  --h5p-checklist-theme-font-size-m: 1rem;

  --h5p-checklist-theme-alternative-base: hsl(216, 56%, 96%);
  --h5p-checklist-theme-alternative-dark: hsl(217, 57%, 91%);
  --h5p-checklist-theme-alternative-darker: hsl(216, 56%, 86%);
  --h5p-checklist-theme-contrast-cta-white: hsl(212, 79%, 48%);
  --h5p-checklist-theme-secondary-contrast-cta-hover: hsl(0, 0%, 100%);
  --h5p-checklist-theme-text-primary: hsl(223, 44%, 11%);
  --h5p-checklist-theme-text-secondary: hsl(219, 23%, 27%);
  --h5p-checklist-theme-text-third: hsl(0, 0%, 45%);
  --h5p-checklist-theme-ui-base: hsl(0, 0%, 100%);

  --h5p-checklist-theme-border-radius-small: 0.25rem;
  --h5p-checklist-theme-border-radius-medium: 0.375rem;
  --h5p-checklist-theme-border-radius-large: 0.5rem;

  --h5p-checklist-theme-spacing-s: 1rem;
  --h5p-checklist-theme-spacing-xs: 0.3rem;
  --h5p-checklist-theme-spacing-xxs: 0.5rem;

  background-color: var(--h5p-checklist-theme-ui-base, hsl(0, 0%, 100%));
  color: var(--h5p-checklist-theme-text-secondary, hsl(219, 23%, 27%));
}
