.h5p-checklist-introduction {
  font-size: var(--h5p-theme-font-size-xl, 1.25rem);
  color: var(--h5p-theme-text-primary, #101729);
  font-weight: 600;

  & p:first-child {
    margin-top: 0;
  }

  & p:last-child {
    margin-bottom: 0;
  }
}
