.h5p-checklist-item-list-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--h5p-checklist-theme-spacing-s);
  container-type: inline-size;
  user-select: none;

  .button-add-item,
  .button-add-segment-title {
    margin: 0;

    &.h5p-theme-plus::before {
      content: var(--icon-fontawesome-plus, "\f067");
      font-family: "H5PFontAwesome4", sans-serif;
    }
  }

  .button-copy {
    margin: 0;
    
    &.h5p-theme-copy::before {
      content: var(--icon-fontawesome-copy, "\f0c5");
      font-family: "H5PFontAwesome4", sans-serif;
    }
  }
}
