.h5p-checklist-item-list-buttons {
  display: flex;
  gap: var(--h5p-theme-spacing-s, 1rem);
  container-type: inline-size;
  user-select: none;

  .button-add-item,
  .button-add-segment-title {
    &.h5p-theme-plus::before {
      content: var(--icon-h5p-theme-plus, "\e90c");
      font-family: h5p-theme, sans-serif;
    }
  }
}
