.h5p-checklist-item-checkbox-wrapper {
  display: flex;
  flex-direction: row;
  gap: var(--h5p-theme-spacing-xxs, 0.3rem);
  width: 100%;

  & .h5p-checklist-item-checkbox {
    cursor: pointer;
    display: inline-flex;
    font-weight: 600;

    &:before {
      font-family: h5p-theme, sans-serif;
      margin-inline: calc( var(--h5p-theme-spacing-xxs, 0.3rem) / 2);
    }

    &:not(.disabled)::before {
      color: var(--h5p-theme-text-primary, #101729);
    }

    &.disabled::before {
      color: var(--h5p-theme-text-third, #737373);
    }

    &[aria-checked="false"]::before {
      content: "\e90b";
    }

    &[aria-checked="true"]::before {
      content: "\e90c";
    }
  }

  & .h5p-checklist-item-checkbox-label {
    font-weight: 600;
  }
}
