.h5p-checklist-item {
  --border-width: 2px;

  display: flex;
  flex-direction: row;

  & .h5p-checklist-item-content-wrapper {
    align-items: flex-start;
    display: flex;
    flex: 1 1 auto;
    gap: var(--h5p-theme-spacing-xxs, 0.5rem);
    justify-content: space-between;
    padding-inline: var(--h5p-theme-spacing-xxs, 0.5rem);
    min-width: 0;
    min-height: var(--h5p-theme-font-size-xl, 1.25rem);

    .h5p-checklist-item-button-remove {
      background: none;
      border: none;
      border-radius: 100%;
      cursor: pointer;
      height: var(--h5p-theme-font-size-xl, 1.5rem);
      width: var(--h5p-theme-font-size-xl, 1.5rem);
      position: relative;

      &::before {
        content: var(--icon-fontawesome-xmark);
        font-family: "H5PFontAwesome4", sans-serif;
        font-size: 1.1rem;
        color: var(--h5p-theme-text-secondary, #4d4d4d);
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        background-color: var(--h5p-theme-contrast-cta-white, #006fbf);

        &::before {
          color: var(--h5p-theme-secondary-contrast-cta-hover, #ebf7ff);
        }
      }
    }
  }

  &.has-handle {
    background: var(--h5p-theme-alternative-base, #f1f5fb);
    border: var(--border-width) solid var(--h5p-theme-alternative-base, #f1f5fb);
    border-bottom-color: var(--h5p-theme-alternative-dark, #dbe5f5);
    border-radius: var(--h5p-theme-border-radius-medium, 0.375rem);
    box-shadow: 0 1px 0 0 var(--h5p-theme-alternative-dark, #dbe5f5);
    cursor: grab;

    &::before {
      background-color: color-mix(in srgb, var(--h5p-theme-alternative-dark, #dbe5f5), transparent 30%);
      border-radius: var(--h5p-theme-border-radius-small, 0.25rem) 0 0 var(--h5p-theme-border-radius-small, 0.25rem);
      box-shadow: 0 0 0 2px color-mix(in srgb, var(--h5p-theme-alternative-dark, #dbe5f5), transparent 30%);
      content: "\e90f";
      color: var(--h5p-theme-text-third, #737373);
      font-family: h5p-theme, sans-serif;
      font-size: var(--h5p-theme-font-size-xl, 1.25rem);
      padding-top: var(--h5p-theme-spacing-xxs, 0.5rem);
      text-align: center;
    }

    &:hover {
      background:var(--h5p-theme-alternative-dark, #dbe5f5);
      border-color: var(--h5p-theme-contrast-cta-white, #006fbf);
      box-shadow: 0 3px .3em 0 var(--h5p-theme-alternative-darker, #c7d7ef);
      color: var(--h5p-theme-text-primary, #101729);

      &::before {
        background-color: var(--h5p-theme-contrast-cta-white, #006fbf);
        box-shadow: 0 0 0 2px var(--h5p-theme-contrast-cta-white, #006fbf);
        color: var(--h5p-theme-secondary-contrast-cta-hover, #ebf7ff);
      }
    }

    & .h5p-checklist-item-content-wrapper {
      padding-block: var(--h5p-theme-spacing-xxs, 0.5rem);
    }
  }

  &:not(.has-handle) {
    border-block: 1px solid transparent;

    &:hover {
      border-block: 1px solid var(--h5p-theme-alternative-dark, #dbe5f5);
    }
  }

  &:not(.has-handle) {
    border-block: 1px solid transparent;

    &:hover {
      border-block: 1px solid var(--h5p-checklist-theme-alternative-dark);
    }
  }

  &.is-dragging {
    box-sizing: border-box;
    cursor: grabbing;
    height: var(--drag-height, auto);
    left: var(--drag-left, 0px);
    margin: 0;
    position: fixed;
    top: var(--drag-top, 0px);
    width: var(--drag-width, auto);
    z-index: 1;

    .h5p-checklist-item-content-wrapper .h5p-checklist-item-button-remove {
      opacity: 0;
      visibility: hidden;
    }
  }

  &.highlighted {
    background:var(--h5p-theme-alternative-dark, #dbe5f5);
    border-color: var(--h5p-theme-contrast-cta-white, #006fbf);
    box-shadow: 0 3px .3em 0 var(--h5p-theme-alternative-darker, #c7d7ef);
    color: var(--h5p-theme-text-primary, #101729);

    &::before {
      background-color: var(--h5p-theme-contrast-cta-white, #006fbf);
      box-shadow: 0 0 0 2px var(--h5p-theme-contrast-cta-white, #006fbf);
      color: var(--h5p-theme-secondary-contrast-cta-hover, #ebf7ff);
    }
  }
}

.h5p-content.using-mouse .h5p-checklist-item:not(:hover) {
  .h5p-checklist-item-button-remove {
    opacity: 0;
    visibility: hidden;
  }
}

.h5p-content:not(.using-mouse) .h5p-checklist-item:not(:focus-within){
  .h5p-checklist-item-button-remove {
    opacity: 0;
    visibility: hidden;
  }
}
