.h5p-checklist-item-label {
  cursor: inherit;
  display: block;
  font-size: var(--h5p-checklist-theme-font-size-m); /* When inherited, Firefox does not keep size when dragging */
  font-weight: 600;
  user-select: none;
  width: 100%;
}
