.h5p-checklist-item-label {
  cursor: inherit;
  display: block;
  font-size: var(--h5p-theme-font-size-m, 1rem); /* When inherited, Firefox does not keep size when dragging */  font-weight: 600;
  user-select: none;
  width: 100%;
}
